body {
    font-family: Arial, sans-serif;
    background-image: url('/static/images/230227Kidneys.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

form {
    margin-left: 35%;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4e0374;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: calc(60% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input.error {
    border-color: red;
}

input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: solid #000;
    border-radius: 5px;
    background-color: #4e0374;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6b057c;
}
