body {
    background-image: url('static/images/1874343148-kidney-failure.webp');
    background-repeat: no-repeat;
    color: azure;
    background-size: 100% 100%;
    margin: 0;
}

.container {
    font-style: italic;
    color: black;
    font-size: 35px;
    margin-left: 330px;
}

.false {
    font-size: 20px;
    color: black;
    font-style: oblique;
    margin-left: 280px;
}